<!DOCTYPE html>

<html>
    <head>
        <title>Bounder - Clojure Docs</title>
        <link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="../../assets/css/default.css" />
    </head>
    <body>

        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                <span class="brand">
                    Clojure/Script Documentation
                </span>
            </div>
        </div>

        <div class="container">

            <div class="row">

                <div class="span8">

                    <div class="search">
                        <input type="text"
                               placeholder="Filter by name/category" />
                    </div>

                    <h2>Projects</h2>

                    <ul class="projects">
                        <li class="project">

                            <h3>
                                <a href="#">Project Name</a>
                            </h3>

                            <div class="description">
                                Here is the description of the project. It could be quite long,
                                but I don't know just how long.  Better just allow this to
                                stretch vertically I suppose...
                            </div>

                            <ul class="categories">
                                <li>Category</li>
                            </ul>

                            <ul class="versions">
                                <li>
                                    <a href="#">1.2.3</a>
                                </li>
                            </ul>

                        </li>
                    </ul>
                </div>

                <div class="span4">

                    <h2>Categories</h2>

                </div>
            </div>
            
        </div>

        <script type="text/javascript" src="../../assets/js/main.js"></script>
    </body>
</html>
